.body{
    margin:0px;
}
.background{
    height:100vh;
    width:100%;
    background-image: url("background.jpg");
    position: absolute;
    overflow: hidden;
    background-size: contain;
    background-repeat: repeat-x;
}
.girl{
    height:250px;
    margin-top: 450px;
    position: absolute;
}
.box{
    height:100px;
    width:290px;
    /* background-color: black; */
    background-image: url("mycar1.png");
    position: absolute;
    margin-top: 580px;
    animation:box 1s linear infinite;
    /* background-size: 50px 100%;  */
}
@keyframes box{
    100%{
        transform:translateY(-1px);
    }
    50%{
        transform:translateY(1px);
    }
    0%{
        transform:translateY(-1px);
    }
}

.frontWheel{
    width:57px;
    height:57px;
    position:absolute;
    /* background-color: blueviolet; */
    background-image: url("frontWheel.png");
    margin-top: 644px;
    animation:wheel 1s linear infinite;
}

.backWheel{
    position:absolute;
    width:57px;
    height:57px;
    background-image: url("backWheel.png");
    margin-top: 644px;
    animation:wheel 1s linear infinite;
    /* background-color: brown; */
}
@keyframes wheel{
    100%{
        transform:rotate(-360deg);
    }
}
.p1{
    font-size: 35px;
    font-weight: bold;
    font-family:"Algerian";
    margin-left: 4px;
    margin-top: 4px;
    position: absolute;
}
.score{
    font-size: 50px;
    margin-top:2px;
    margin-left: 230px;
    position: absolute;
    font-weight: bolder;
    font-family: "Arial";
    line-height: 37px;
}
.endGame{
    width:100%;
    height:100vh;
    /* background-image: url("gameover.png"); */
    background-color:#131E3A; 
    position:absolute;
    /* margin-top: 20px; */
    font-family: "Arial";
    font-size: 80px;
    font-weight: bold;
    color:#6693F5;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    visibility: hidden;
}

.neon{
    position: absolute;
    margin-top: 570px;

} 


a{
    position:relative;
    cursor: pointer;
    display:inline-block;
    padding:15px 100px;
    margin-bottom: 80px;
    color:#0080FE;
    text-transform:uppercase;
    letter-spacing:4px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    transition:0.2s;
    
   
}
a:hover{
    color:#000080;
    background: #0080FE;
    box-shadow: 0 0 10px #0080FE,0 0 40px #0080FE,0 0 80px #0080FE ;
    transition-delay: 1s; 
}


a span{
    position:absolute;
    display:block;
}
a span:nth-child(1){
    top:0px;
    left:-100%;
    width:100%;
    height:2px;
    background: linear-gradient(90deg,transparent,#0080FE);
}
a:hover span:nth-child(1){
    left:100%;
    transition: 1s;
}
a span:nth-child(3){
    bottom:0px;
    right:-100%;
    width:100%;
    height:2px;
    background: linear-gradient(270deg,transparent,#0080FE);
}
a:hover span:nth-child(3){
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}
a span:nth-child(2){
    top:-100%;
    left:0;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent,#0080FE);
}
a:hover span:nth-child(2){
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4){
    bottom:-100%;
    left:0;
    width:2px;
    height:100%;
    background: linear-gradient(360deg,transparent,#0080FE);
}
a:hover span:nth-child(2){
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
}